html,body {
	margin:0px;
	padding:0px;
	height:100%;
	text-align: center;
}
#map {
    display: block;
    width: 100%;
    height: 100%;
}



.cluster{
  color: #FFFFFF;
  text-align:center;
  font-family: 'Arial, Helvetica';
  font-size:11px;
  font-weight:bold;
  cursor: pointer;
  z-index:1;
}
.cluster-1{
  background-image:url(images/m1.png);
  line-height:53px;
  width: 53px;
  height: 52px;
}
.cluster-2{
  background-image:url(images/m2.png);
  line-height:53px;
  width: 56px;
  height: 55px;
}
.cluster-3{
  background-image:url(images/m3.png);
  line-height:66px;
  width: 66px;
  height: 65px;
}



.infowindow {
	margin-right:0.2em;
}
.request:not(.infowindow) {
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(orange, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(orange, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(orange, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(orange, white); /* Standard syntax */
}
.teach:not(.infowindow) {
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(green, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, white); /* Standard syntax */
}